{% extends 'layout.html' %}

{% block content %}
  <div class="pl-3">
    <h1>{{ page.title }}</h1>
    {{ page.content }}
    <a href="/report">Тестовый отчет</a>
    <div class="row">
      <h1>Расчет задолженности.</h1>
    </div>
    <div class="row">
      <h3>Данные по кредиту.</h3>
    </div>
    <form method="POST" action="/report">
      {% csrf_token %}
        <div class="row">
          <div class="col col-6 col-sm-6  col-lg-3">
            <label for="exampleInputEmail1">Дата начала кредита</label>
            <input type="text" id="credit_start" class="datepicker form-control" placeholder="Выберите дату" name="credit_start" readonly><span class="fa fa-calendar"></span>
          </div>


          <div class="col  col-6 col-sm-6 col-lg-3">
            <label for="exampleInputEmail1">Дата конца кредита</label>
            <input type="text" id="credit_end" class="datepicker form-control" placeholder="Выберите дату" name="credit_end" readonly><span class="fa fa-calendar"></span>
          </div>

          <div class="col col-6 col-sm-6 col-lg-3">
            <label for="exampleInputEmail1">Сумма кредита</label>
            <input name="credit_sum" class="form-control" type="text" id="credit_sum"><span class="fa fa-calendar"></span>
          </div>

          <div class="col col-6 col-sm-6 col-lg-3">
            <label for="exampleInputEmail1">Годовой процент</label>
            <input name="credit_proc" value=3 class="form-control" type="text" ><span class="fa fa-calendar"></span>
          </div>

          <div class="col">
            <input type="submit" id="make_report_button" class="btn btn-primary" name="Создать" value="Сформировать отчет" />
          </div>
      </div>


      <div class="row">
        <h3>Погашения.</h3>
      </div>
      <div class="row" id="payments"></div>
      <div class="row">

          <input id="add-payment" type="button" class="btn btn-primary" name="Сохранить" value="Добавить платеж"/>
    
      </div>

    </form>

  </div>
  {% endblock %}
            


